* {
    font-family: "Bricolage Grotesque", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *::-webkit-scrollbar {
    display: none;
  }
  
  .main-body {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    background-color: #f3f4f9; /* Main background color */
    position: relative; /* Position relative for the pseudo-element */
    overflow-y: scroll;
  }
  
  .main-body.note-page {
    height: 100vh; /* Full height when on note-page */
  }
  
  .main-body.other-page {
    height: 90.75vh; /* Reduced height when not on note-page */
  }
  
  
  
  @media (min-width: 768px) {
    .dashboard {
        flex-direction: row;
        background-color: #f3f4f9;
    }
  }
  
  /* button {
    background-color: #4b4b4b;
    border: none;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 15px;
  }
  
  button:hover {
    background-color: #2f2f2f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  } */
  
  button {
    background-color: #ffcd93;
    border: none;
    color: black;
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    font-weight: 300;
  }
  
  button:hover {
    background-color: #ffcd93;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .summary-box {
    z-index: 1;
  }
  
  .back-drop-summary {
    background: linear-gradient(135deg, #ffcd93, #ff8383);
    width: 40vw;
    height: 70vh;
    z-index: -1;
    position: absolute;
    transform: rotate(-8deg);
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 7vh;
    left: 7vw;
  }
  
  .mcq-box {
    z-index: 1;
  }
  
  .back-drop-mcq {
    background: linear-gradient(135deg, #ffcd93, #ff8383);
    width: 40vw;
    height: 79vh;
    z-index: -1;
    position: absolute;
    transform: rotate(-6deg);
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 4vh;
    left: 7vw;
  }

  .main-save-button {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    cursor: pointer;
  }