/* src/components/GenerateLesson.css */
.generate-lesson-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 35vw;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .generate-lesson-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .generate-lesson-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
  }
  
  .generate-lesson-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    font-size: 14px;
    background-color: #fff;
    position: relative;
    outline: none;
  }
  
  .generate-lesson-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  
  /* Style for the close button */
  .close-lesson-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Add some space above the close button */
  }
