.generate-notes-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 35vw;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.generate-notes-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.generate-notes-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #666;
}

.generate-notes-input,
.generate-notes-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  font-size: 14px;
  background-color: #fff;
  appearance: none; /* Remove default styling for select */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  position: relative;
  outline: none;
}

.generate-notes-select {
  width: 100%;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23666" d="M2 4L0 2h4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 10px 10px;
}

.generate-notes-button {
  width: 100%;
  cursor: pointer;
}