.lesson-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40vw;
    margin: auto;
    font-family: Arial, sans-serif;
    height: 85vh;
    align-items: center;
}

.lesson-container h2 {
    padding-bottom: 1.5vh;
    text-align: center;
}

.lesson-content {
    overflow-y: scroll;
    height: 72vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.lesson-container p {
    margin-bottom: 20px;
}

/* src/components/lesson.css */

.popup {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it appears above other elements */
}