.mcq-container {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 35vw;
  margin: auto;
  font-family: Arial, sans-serif;
}

.mcq-valid {
  margin-bottom: 20px;
}

.question-prompt-container {
  text-align: center;
  margin-bottom: 20px;
}

.question-prompt {
  font-size: 20px;
  font-weight: bold;
}

.choice-container {
  margin-bottom: 20px;
}

.choices {
  list-style-type: none;
  padding: 0;
}

.choices li {
  margin-bottom: 10px;
}

.choices label {
  display: flex;
  align-items: center;
}

.choices input[type='radio'] {
  margin-right: 10px;
}

.explanation-container {
  margin-bottom: 20px;
}

.explanation-text {
  font-size: 14px;
  color: #666;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.check-answer-button,
.next-question-button,
.start-mcq-button {
  width: 100%;
  padding: 12px;
  background-color: #fff42a;
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.check-answer-button:hover,
.next-question-button:hover,
.start-mcq-button:hover {
  background-color: #f1e726;
}

.loader {
  /* Add styles for a loader if you have one */
}

.mcq-invalid {
  text-align: center;
  font-size: 16px;
  color: #666;
}