.name-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
}

.name-entry-form {
    display: flex;
    justify-content: space-evenly;
    gap: 2vh;
    align-items: center;
}

.name-entry {
    width: 15vw;
    height: 3vh;
    border-radius: 3vh;
    border: solid 1px #eee;
    padding: 10px;
    outline: none;
}

.name-submit {
    font-size: 25px;
    padding: 2px;
    padding-bottom: 5px;
    padding-inline: 10px;
    border-radius: 50%;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
}

.name-popup-header {
    margin-bottom: 1vh;
    text-align: center;
}