.summary-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40vw;
    margin: auto;
    font-family: Arial, sans-serif;
    height: 70vh;
    align-items: center;
    z-index: 100;
    margin-left: 7vw;
    margin-top: 7vh;
    margin-bottom: 0px;
    line-height: 35px;
}

.summary-container h2 {
    padding-bottom: 1.5vh;
    text-align: center;
}

.summary-content {
    overflow-y: scroll;
    height: calc(70vh - 40px);
    border: none;
    border-radius: 4px;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.summary-content::-webkit-scrollbar {
    display: none;
}

.summary-container p {
    margin-bottom: 20px;
}

/* src/components/Summary.css */

.popup {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it appears above other elements */
}

.summary-container h2,
.summary-container h3,
.summary-container h4 {
    margin-top: 1.5em; /* Space above headings */
    margin-bottom: 0.5em; /* Space below headings */
}

.summary-container p {
    margin: 1em 0; /* Space above and below paragraphs */
}

.summary-container ul {
    margin: 1em 0; /* Space above and below lists */
    padding-left: 20px; /* Indent the list items */
}

.summary-container li {
    margin-bottom: 0.5em; /* Space between list items */
}

.new-summary-button {
    padding: 0;
    background-color: transparent;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 13vh;
    left: 45vw;
}

.new-summary-button:hover {
    background-color: transparent;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
}

.refresh-icon {
    height: 18px;
    width: 18px;
}

.loader-summary {
    width: 20px;
    aspect-ratio: 1.154;
    background: repeating-conic-gradient(from -30deg,#ff6a6a 0 60deg,#ffcd93 0 120deg,#ff8383 0 180deg); 
    animation: l13 1.5s infinite alternate;
    position: absolute;
    top: 9vh;
    left: 45vw;
    z-index: 2;
}

@keyframes l13 {
    0%,
    10%  {clip-path: polygon(50% 50%,25% 100%,25% 100%,25% 100%,25% 100%,75% 100%,75% 100%,75% 100%)}
    33%,
    43%  {clip-path: polygon(50% 50%,0   50% ,0   50% ,0   50% ,25% 100%,75% 100%,100% 50%,100% 50%)}
    66%,
    76%  {clip-path: polygon(50% 50%,25% 0   ,25% 0   ,0   50% ,25% 100%,75% 100%,100% 50%,75%  0  )}
    95%,
    100% {clip-path: polygon(50% 50%,75% 0   ,25% 0   ,0   50% ,25% 100%,75% 100%,100% 50%,75%  0  )}
}

.summary-options {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.summary-options-button {
    cursor: pointer;
}

.summary-options-popup {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.summary-options-popup button {
    background-color: white;
    border: none;
    padding: 10px 15px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.summary-options-popup button:hover {
    background-color: #f0f0f0;
}

.generate-summary-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}