.upload-note-container {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 35vw;
    height: 30vh;
    margin: auto;
    font-family: Arial, sans-serif;
  }
  
  .upload-note-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .pdf-upload-container {
    width: calc(100% - 40px);
    height: 13.5vh;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .pdf-upload-container.active {
    background-color: #f0f8ff;
  }
  
  .pdf-upload-input {
    display: none;
  }
  
  .drag-drop-label {
    font-size: 14px;
    color: #666;
    pointer-events: none;
  }
  
  .action-pdf-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .pdf-action-button {
    padding: 12px;
    background-color: #fff42a;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 10vw;
  }
  
  .pdf-action-button:hover {
    background-color: #f1e726;
  }
  